<div class="row">
  <div class="col m6 offset-m3 center">

    <br />
    <br />
    <h5>Create Your Free Account</h5>
    <br/>

    <%= link_to "Sign up with Facebook", user_omniauth_authorize_path(:facebook), class: "btn blue darken-4" %>

    <p class="line">
      <span>OR</span>
    </p>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render partial: "shared/devisemes" %>

      <div class="input-field">
        <%= f.text_field :name, autofocus: true, :class => "validate", :placeholder => "Name" %>
      </div>

      <div class="input-field">
        <%= f.email_field :email, :class => "validate", :placeholder => "Email" %>
      </div>

      <div class="input-field">
        <%= f.password_field :password, autocomplete: "off", :class => "validate", :placeholder => "Password" %>
      </div>

      <button class="btn waves-effect waves-light indigo accent-4" type="submit" name="action">Sign Up</button>
    <% end %>

    <p class="line">
         Already a Member? <%= link_to "Login", new_user_session_path %>
    </p>
   
  </div>
</div>
