<% content_for :head do %>
	<title><%= @task.project.name %>: <%= @task.title %> - SkiCoach.me</title>
	<meta name="description" content="<%= @task.description %>" />

	<!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@skicoachme"> 
    <meta name="twitter:creator" content="@skicoachme">
    <meta name="twitter:title" content="<%= @task.project.name %>: <%= @task.title %>"> 
    <meta name="twitter:description" content="<<%= @task.description %>">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="SkiCoach.Me" />
    <meta property="og:type" contcontent="website" /> 
    <meta property="og:title" content="<%= @task.project.name %>: <%= @task.title %>" />        
    <meta property="og:description" content="<%= @task.description %>" /> 
    <meta property="og:image" content="" />
<% end %>

<br/>
<div class="row">
	<div class="valign-wrapper">
		<div class="col l6 m6 s12">
			<h5><%= @task.project.name %>: <%= @task.title %></h5></h5>
		</div>
		<div class="col l6 m6 s12">
			<div class="right-align">
				<%= link_to "Back to Lessons", root_path %>
			</div>
		</div>
	</div>
</div>

<div class="row" data-no-turbolink>
	<div class="hide-on-med-and-down">
		<div class="col l3 ">
			<div class="card z-depth-2">
				<div class="card-content">
					<h5>Lesson Tasks</h5>
					<div class="collection">
						<% @tasks.each do |task| %>
							<% if task.header %>
								<div class="collection-item active indigo darken-4">
									<i class="mdi-social-school"> <%= task.title %></i>
								</div>
							  <% else %>
							  	<%= link_to [task.project, task], class: "collection-item" do %>
							  		<i class="mdi-av-play-circle-outline">  <%= task.title %></i>
							  	<% end %>
							<% end %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col s12 m12 l9">
		<div class="card z-depth-2">		
			<div id="wistia_<%= @task.video %>"></div>
			
			<div class="hide-on-med-and-down">
			<div class="card-action grey-text text-darken-4 center">
				<span>Video Speed:</span>
              	<button class="btn btn-primary indigo accent-4" onclick="setPlaySpeed(1)">Normal Speed</button>
              	<button class="btn btn-primary indigo accent-4" onclick="setPlaySpeed(1.25)">1.25x</button>
              	<button class="btn btn-primary indigo accent-4" onclick="setPlaySpeed(2)">Ligety Speed</button>
			</div>
			</div>
			<hr>

			<div class="row">
				<div class="container">
					<div class="col m6">
						
						<% if !@prev_task.nil? %>
							<%= link_to "< Previous Task", [@prev_task.project, @prev_task], class: "btn btn-primary indigo accent-4"  %>
						<% else %>
							&nbsp;
						<% end %>
					</div>

					<div class="col m6">
						<% if !@next_task.nil? %>
							<span class="right">
							<%= link_to "Next Task >", [@next_task.project, @next_task], class: "btn btn-primary indigo accent-4"  %>
							</span>
						<% end %>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="hide-on-large-only">
			<div class="col s12 m6 ">
				<div class="card z-depth-2">
					<div class="card-content">
						<h5>Lesson Tasks</h5>
						<div class="collection">
							<% @tasks.each do |task| %>
								<% if task.header %>
									<div class="collection-item active indigo darken-4">
										<i class="mdi-social-school">  <%= task.title %></i>
									</div>
								  <% else %>
								  	<%= link_to [task.project, task], class: "collection-item" do %>
								  		<i class="mdi-av-play-circle-outline">  <%= task.title %></i>
								  	<% end %>
								<% end %>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
			<div class="col s12 m6 l12">
				<div class="card z-depth-2">
				
					<div class="card-content">
						<h5>Task Details</h5>
						<div class="card-action">
							<%= raw @task.note %>
						</div>
					</div>
				</div>
			</div>
		
		</div>
	</div>
</div>

<script src="https://fast.wistia.net/static/E-v1.js"></script>

<script>
	wistiaEmbed = Wistia.embed("<%= @task.video %>", {
	  videoQuality: "hd-only",
	  videoFoam: true
	});

	function setPlaySpeed(speed) {
		wistiaEmbed.playbackRate(speed);
	}
</script>