<div class="container">
      <h2 class="header center blue-text text-darken-4">Lessons</i></h2>
      <h5 class="header center">Find a Lesson, let's <i>Go Skiing</i></h5>

    	<div class="row" data-no-turbolink>

    		<% @projects.each do |project| %>
                <% if !project.coming_soon %>
        			<%= link_to project do %>
        				<div class="col s12 m6 l4">
        					<div class="card hoverable">

        						<div class="card-image">
        							<%= image_tag project.image %>
        						</div>
        							
        						<div class="card-content" style="height: 10em">
        							<p class="flow-text grey-text text-darken-4"><%= project.name %></p>
        							<p class="grey-text text-darken-4"><%= project.s_description %></p>
        							
        						</div>	
        						
        					</div>
        				</div>	
        			<% end %>
                <% else %>
         
                <% end %>
    		<% end %>
    	</div>
    </div>
  	
  	<div class="grey lighten-3">  	
	    <div class="container">
	    	<br/>
	    	<h2 class="header center blue-text text-darken-4">Coming Soon</h2>
	    	<h5 class="header center">Great new lessons, launching shortly!</h5>

	        <div class="row" data-no-turbolink>

	            <% @projects.each do |project| %>
	                <% if project.coming_soon %>
	                    <div class="col s12 m6 l4">
	                        <div class="card hoverable">

	                            <div class="card-image">
	                                <%= image_tag project.image %>
	                            </div>
	                                
	                            <div class="card-content" style="height: 10em">
	                                <p class="flow-text grey-text text-darken-4"><%= project.name %></p>
	                                <p class="grey-text text-darken-4"><%= project.s_description %></p>
	                                
	                            </div>  
	                            
	                        </div>
	                    </div>
	                <% else %>
	                 
	                <% end %>
	            <% end %>
	        </div>
	    </div> 
	</div>  