<% content_for :head do %>
	<title>Free and Premium Online Ski Lessons - SkiCoach.me</title>
	<meta name="description" content="" />

	<!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@skicoachme"> 
    <meta name="twitter:creator" content="@skicoachme">
    <meta name="twitter:title" content="SkiCoach.me Free and Premium Online Ski Lessons"> 
    <meta name="twitter:description" content="Find a Ski Lesson and Improve Your Skiing in an Hour">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="SkiCoach.me" />
    <meta property="og:type" contcontent="website" /> 
    <meta property="og:title" content="SkiCoach.me Free and Premium Online Ski Lessons" />        
    <meta property="og:description" content="Find a Ski Lesson and Improve Your Skiing in an Hour" /> 
    <meta property="og:image" content="" />
<% end %>

<% if(!user_signed_in?) %>
	<!-- Start Index Container -->
<br />
  <div class="header_img"> 
  <section id="intro">
    
      <div class="container">
        <div class="row">
          <div class="col m5 s12">
            <br><br>
            <h1 class="header white-text">SKI LESSONS...<br/> ANYWHERE, ANYTIME</h1>
            <h5 class="header white-text">Extend the life of every ski lesson with video based drills and tasks that you can access at home, work, and on the ski lift.</h5>
            <div class="row center">
                <%= link_to "Sign Up For My Free Account", new_user_registration_path, class: "btn-large waves-effect waves-light btn indigo accent-4" %>
            </div>
            </div>
        <br><br>
         
    </div>
  </section>
  </div>
  <!-- End Index Container -->
  <!-- Start How It Works Container -->
<section id="how-it-works">
 
  <div class="grey lighten-3">
    <div class="container">
    <div class="row">
        <br><br>
        <h2 class="header center blue-text text-darken-4">How To Use SkiCoach.me</h2>
         <h4 class="header center col s12 light">Whether you're a pro or new to the sport of skiing, we've made it fun and easy to improve your skills.</h4>
      </div>
    
    <div class="section">

      <!--   Icon Section   -->
      
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-hardware-computer"></i></h2>
            <h5 class="center">Step 1. Sign Up</h5>

            <p class="light">SkiCoach.me video lessons cover a range of skiing skills and drills designed to help a resourceful athlete or complement a regular training program. Whether you're a pro racer or beginner skier, you're sure to benefit from SkiCoach.me</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-av-play-circle-outline"></i></h2>
            <h5 class="center">Step 2. Select a Lesson</h5>

            <p class="light">Each lesson comes with a comprehensive list of tools and necessary supplies. Once you're ready to go, each project how-to video is broken down into short, easy to understand video segments that you can watch as many times as you want!</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="mdi-editor-insert-emoticon"></i></h2>
            <h5 class="center">Step 3. Get Started!</h5>

            <p class="light">There's nothing more fulfilling than doing something you've never done before. SkiCoach.me Lessons are available anywhere, anytime. Study them at home or watch them on the lift in between runs.</p>
          </div>
        </div>
      </div>
    
       <div class="row center">
              <%= link_to "Sign Up For My Free Account", new_user_registration_path, class: "btn-large waves-effect waves-light btn indigo accent-4" %>
       </div>
      </div>
    </div>
    </div>
  </div>
</section>
<!-- END How It Works Container -->
<div class="container">
<br />
<h5>Preview Lessons</i></h5>

	<div class="row" data-no-turbolink>

		<% @projects.each do |project| %>
			<%= link_to project do %>
				<div class="col s12 m6 l4">
					<div class="card hoverable">

						<div class="card-image">
							<%= image_tag project.image %>
						</div>
							
						<div class="card-content" style="height: 10em">
							<p class="flow-text grey-text text-darken-4"><%= project.name %></p>
							<p class="grey-text text-darken-4"><%= project.s_description %></p>
							
						</div>	
						
					</div>
				</div>	
			<% end %>
		<% end %>
	</div>
</div>

<% else %> 

<br />
<h5>Find a Lesson, it's time to <i>Get Skiing</i></h5>

<div class="row" data-no-turbolink>

	<% @projects.each do |project| %>
		<%= link_to project do %>
			<div class="col s12 m6 l4">
				<div class="card hoverable">

					<div class="card-image">
						<%= image_tag project.image %>
					</div>
						
					<div class="card-content" style="height: 10em">
						<p class="flow-text grey-text text-darken-4"><%= project.name %></p>
						<p class="grey-text text-darken-4"><%= project.s_description %></p>
						
					</div>	
					
				</div>
			</div>	
		<% end %>
	<% end %>
</div>
<% end %>