<% content_for :head do %>
	<title>Free and Premium Online Ski Lessons - SkiCoach.me</title>
	<meta name="description" content="" />

	<!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@skicoachme"> 
    <meta name="twitter:creator" content="@skicoachme">
    <meta name="twitter:title" content="SkiCoach.me Free and Premium Online Ski Lessons"> 
    <meta name="twitter:description" content="Find a Ski Lesson and Improve Your Skiing in an Hour">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="SkiCoach.me" />
    <meta property="og:type" contcontent="website" /> 
    <meta property="og:title" content="SkiCoach.me Free and Premium Online Ski Lessons" />        
    <meta property="og:description" content="Find a Ski Lesson and Improve Your Skiing in an Hour" /> 
    <meta property="og:image" content="" />
<% end %>

<% if(!user_signed_in?) %>
	<!-- Start Index Container -->
<br />
  <div class="header_img"> 
  <section id="intro">
    
      <div class="container">
        <div class="row">
          <div class="col m5 s12">
            <br><br>
            <h1 class="header white-text">SKI LESSONS...<br/> ANYWHERE, ANYTIME</h1>
            <h5 class="header white-text">Extend the life of every ski lesson with video based drills and tasks that you can access at home, at work, and even on the ski lift.</h5>
            <br>

            <div class="row center">
                <%= link_to "Sign Up For My Free Account", new_user_registration_path, class: "btn-large waves-effect waves-light btn indigo accent-4" %>  
            </div>
          </div>
        <br>
      <br> 
    </div>
  </section>
  </div>
  <!-- End Index Container -->
  <!-- Start How It Works Container -->

<section id="how_it_works">
  <div class="container center-align">
    <h2 class="header center blue-text text-darken-4">How it Works</h2>
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <ul class="tabs">
          <li class="tab col s6 blue-text text-darken-4"><a href="#if_you_ski">If you ski</a></li>
          <li class="tab col s6 blue-text text-darken-4"><a href="#if_you_teach">If you teach</a></li>
        </ul>
      </div>
    </div>
    <div class="row data-no-turbolink">
      <div class="col s12" id="if_you_ski">
        <div class="row">
          <div class="col s12 m4">
            <i class="fa fa-laptop fa-5x blue-text text-darken-4"></i>
            <h4>Sign Up</h4>
            <p>SkiCoach.me accounts are free and provide access to video lessons that cover a range of skiing skills and ability levels. </p>
          </div>
          <div class="col s12 m4">
            <i class="fa fa-youtube-play fa-5x blue-text text-darken-4"></i>
            <h4>Select a Lesson</h4>
            <p>Each lesson comes with a comprehensive listing of drills and tasks designed to help you improve your skiing.</p>
          </div>
          <div class="col s12 m4">
            <i class="fa fa-tablet fa-5x blue-text text-darken-4"></i>
            <h4>Watch Anywhere</h4>
            <p>SkiCoach.me Lessons are available anywhere, anytime. Study them at home or watch them on the lift in between runs.</p>
          </div>
        </div>
      </div>
      <div class="col s12" id="if_you_teach">
        <div class="row">
          <div class="col s12 m4">
            <i class="fa fa-pie-chart fa-5x blue-text text-darken-4"></i>
            <h4>Limited Face Time</h4>
            <p>Turn dead time into productive learning time by having students study lessons on SkiCoach.me in lift lines and on lifts.</p>
          </div>
          <div class="col s12 m4">
            <i class="fa fa-line-chart fa-5x blue-text text-darken-4"></i>
            <h4>Increased Mastery</h4>
            <p>Increase athlete mastery of skills during practice, while free-skiing, and on vacations through unlimited access to lessons.</p>
          </div>
          <div class="col s12 m4">
            <i class="fa fa-money fa-5x blue-text text-darken-4"></i>
            <h4>Make Money</h4>
            <p>Create and submit your own free or premium lessons and generate supplemental income from lesson purchases! (Coming Soon)</p>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="row center">
              <%= link_to "Sign Up For My Free Account", new_user_registration_path, class: "btn-large waves-effect waves-light btn indigo accent-4" %>  
          </div>
        </div>
    </div>
  </div>
</section>
<!-- END How It Works Container -->
<section>
  <div class="grey lighten-3">
    <div class="container">
      <br />
      <h2 class="header center blue-text text-darken-4">Featured Lessons</i></h2>

    	<div class="row" data-no-turbolink>

    		<% @projects.each do |project| %>
    			<%= link_to project do %>
    				<div class="col s12 m6 l4">
    					<div class="card hoverable">

    						<div class="card-image">
    							<%= image_tag project.image %>
    						</div>
    							
    						<div class="card-content" style="height: 10em">
    							<p class="flow-text grey-text text-darken-4"><%= project.name %></p>
    							<p class="grey-text text-darken-4"><%= project.s_description %></p>
    							
    						</div>	
    						
    					</div>
    				</div>	
    			<% end %>
    		<% end %>
    	</div>
    </div>
  </div>
</section>

<% else %> 

<br />
<h5>Find a Lesson, it's time to <i>Get Skiing</i></h5>

<div class="row" data-no-turbolink>

	<% @projects.each do |project| %>
		<%= link_to project do %>
			<div class="col s12 m6 l4">
				<div class="card hoverable">

					<div class="card-image">
						<%= image_tag project.image %>
					</div>
						
					<div class="card-content" style="height: 10em">
						<p class="flow-text grey-text text-darken-4"><%= project.name %></p>
						<p class="grey-text text-darken-4"><%= project.s_description %></p>
						
					</div>	
					
				</div>
			</div>	
		<% end %>
	<% end %>
</div>
<% end %>