<% content_for :head do %>
	<title><%= @project.name %> - SkiCoach.me</title>
	<meta name="description" content="<%= @project.s_description %>" />

	<!-- Twitter Card data --> 
    <meta name="twitter:card" content="summary_large_image"> 
    <meta name="twitter:site" content="@skicoachme"> 
    <meta name="twitter:creator" content="@skicoachme">
    <meta name="twitter:title" content="<%= @project.name %>"> 
    <meta name="twitter:description" content="<%= @project.s_description %>">
    <!-- Twitter summary card with large image must be at least 280x150px --> 
    <meta name="twitter:image:src" content="<%= @project.image %>">

    <!-- Open Graph data --> 
    <meta property="og:site_name" content="Startbox" />
    <meta property="og:type" contcontent="website" /> 
    <meta property="og:title" content="<%= @project.name %>" />        
    <meta property="og:description" content="<%= @project.s_description %>" /> 
    <meta property="og:image" content="<%= @project.image %>" />
<% end %>

<br/>
<div class="row">
	<div class="valign-wrapper">
		<div class="col l6 m6 s12">
			<h5><%= @project.name %></h5>
		</div>
		<div class="col l6 m6 s12">
			<div class="right-align">
				<%= link_to "Back to Lessons List", root_path %>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col l4 m4 s12">
		<% if !@joined %>
			<div class="card z-depth 2">

				<div class="card-action center">
					<h5>Project Price</h5>
					<h2><%= @project.price == 0? "Free!" : "$#{@project.price}" %></h2>
				</div>
				<div class="card-action center">

					<% if user_signed_in? %>
						
						<% if @project.price == 0 %>
							<%= form_tag free_path do %>
								<%= hidden_field_tag 'project_id', @project.id %>
								<button type="submit" class="btn waves-effect waves-light indigo accent-4">Get Started!</button>
							<% end %>
						<% else %>
							<%= form_tag pay_path, id:'chargeForm' do %>

								<script src="https://checkout.stripe.com/checkout.js"></script>
								<%= hidden_field_tag 'stripeToken' %>
								<%= hidden_field_tag 'stripeEmail' %>
								<%= hidden_field_tag 'project_id', @project.id %>

								<button id="customButton" type="button" class="btn waves-effect waves-light indigo accent-4">Get Started!</button><br />

								<script>
								  var handler = StripeCheckout.configure({
								    key: '<%= ENV['STRIPE_PUBLIC_KEY'] %>',
								    token: function(token, arg) {
								      $('#stripeToken').val(token.id);
								      $('#stripeEmail').val(token.email);
								      $('#chargeForm').submit();
								    }
								  });

								  $('#customButton').on('click', function(e) {
								    handler.open({
								      name: 'SkiCoach.me',
								      description: '<%= @project.name %>',
								      amount: '<%= @project.price_in_cents %>',
								      email: '<%= current_user.email %>'
								    });
								    e.preventDefault();
								  });
								</script>
							<% end %>

						<% end %>

					<% else	%>
						<%= link_to new_user_session_path do %>
							<button type="submit" class="btn waves-effect waves-light indigo accent-4">Get Started!</button>
						<% end %>
					<% end %>

				</div>
			</div>
		<div class= "hide-on-small-only" >
			<div class="card z-depth 2">
				<div class="card-content">
					<h5><i class="mdi-editor-insert-emoticon"></i> Join <%= @project.users.count %> Students!</h5>
					<ul class="collection">
				      <li class="collection-item">Target Audience: </li>
				      <li class="collection-item">Time to Complete: </li>
				      
				    </ul>

				</div>
			</div>
			<div class="card z-depth 2">
				<div class="card-action">
					<h5>Early Adopter Advantage...</h5>
					<ul class="collection">
				      <li class="collection-item"><i class="mdi-action-autorenew"></i>Lifetime Project Access</li>
				      <li class="collection-item"><i class="mdi-hardware-phonelink"></i> View on All Devices</li>
				      <li class="collection-item"><i class="mdi-communication-forum"></i> Unlimited Discussion Access</li>
				    </ul>
				</div>
			</div>
		</div>

		<% else %>

		<div class="hide-on-small-only">	
			<div class="card z-depth 2">
				<div class="card-action teal-text darken-3 center">
					<%= image_tag avatar_url(current_user), class: "circle responsive-img avatar-medium" %><br />
					<h5>Hi, <%= current_user.name %></h5>
				</div>
				<div class="card-content teal-text">
					<ul class="collection with-header">
				      <li class="collection-item"><i class="mdi-action-autorenew"></i>  Early Adopter</li>
				      <li class="collection-item"><i class="mdi-action-autorenew"></i>  Lifetime Project Access</li>
				      <li class="collection-item"><i class="mdi-hardware-phonelink"></i>  View on All Devices</li>
				      <li class="collection-item"><i class="mdi-communication-forum"></i>  Unlimited Discussion Access</li>
				    </ul>
				</div>
			</div>
			
			<div class="card z-depth 2">
				<div class="card-action teal-text darken-3 center">
					<h5><%= @project.users.count %> Students</h5>
				</div>
				<div class="card-action teal-text">
					<% @users.each do |u| %>
						<span class="valign-wrapper">
						<%= image_tag avatar_url(u), class: "responsive-img avatar-small" %>&nbsp;
						<%= u.name %>
						</span><br />
					<% end %>
				</div>
			</div>
		</div>

		<% end %>
	</div>

	<div class="col l8 m8 s12">
		<div class="card z-depth 2">
			<div class="card-image">
				<%= image_tag @project.image %>
			</div>

			<div class="row">
			    <div class="col s12">
			      <ul class="tabs ">
			        <li class="tab col s3"><a class="active" href="#about">About</a></li>
			        <li class="tab col s3"><a href="#tasks">Lesson Tasks</a></li>
			        <li class="tab col s3"><a href="#discussions">Discussion</a></li>
			      </ul>
			    </div>
			</div>
		</div>


	<!-- ABOUT AND REVIEW SECTION DIV-->		
		<div id="about">
			<div class="card z-depth 2">
				<div class="row">
			    	<div class="card-content">
					<h5><%= @project.name %></h5>
					<span id="average_rating"></span>
					<p> <%= @reviews.count %> <%= @reviews.count >1? "Reviews" : "Review" %></p>
					<hr>
					<%= raw @project.l_description %>
					</div>
			    </div>
			</div>
			<div class="card z-depth 2">
			    <div class="row">
			    	<div class="card-content">
						<h5>Reviews</h5>
						
				
						<div><%= render 'reviews/form' if @joined && !@hasReview %></div>
						<div><%= render 'reviews/index' %></div>
					</div>
			    </div>
			</div>
		</div>
			    	
	<!-- TASKS SECTION DIV-->
		<% if !@joined %>
			<div id="tasks">
				<div class="card z-depth 2">
					<div class="row">
				    	<div class="card-content">
				    	<h5>Lesson Tasks</h5>
				    	<p>Click Get Started to View Task Videos!</p>
				    	</div>
				  		<div class="col s12">
					    	<div class="collection" data-no-turbolink>
								<% @tasks.each do |task| %>
									<% if task.header %>
										<div class="collection-item active indigo accent-4">
											<i class="mdi-social-school">  <%= task.title %></i>
										</div>
									  <% else %>
										<div class="collection-item">
											<i class="mdi-action-lock-outline">  <%= task.title %></i>
										</div>
										
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>

		<% else %>

			<div id="tasks">
				<div class="card z-depth 2">
					<div class="row">
				    	<div class="card-content">
				    	<h5>Lesson Tasks</h5>
				    	</div>
				  		<div class="col s12">
					    	<div class="collection" data-no-turbolink>
								<% @tasks.each do |task| %>
									<% if task.header %>
										<div class="collection-item active indigo accent-4">
											<i class="mdi-social-school">  <%= task.title %></i>
										</div>
									  <% else %>
										<%= link_to [task.project, task], class: "collection-item" do %>
											<i class="mdi-av-play-circle-outline">  <%= task.title %></i>
										<% end %>
									<% end %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		<% end %>

	<!-- DISCUSSION SECTION DIV-->
		<% if !@joined %>
			<div id="discussions">
				<div class="card z-depth 2">
					<div class="row">
				    	<div class="card-content">
				    	<H5>Project Discussion</H5>
				    	<h6>You must be subscribed to view this lesson discussion</h6>
				    </div>
				</div>
			</div>

		<% else %>
			
			<div id="discussions">
				<div class="card z-depth 2">
					<div class="row">
				    	<div class="card-content">
				    	<H5>Project Discussion</H5>

				    	<div id="disqus_thread"></div>
							<script>
							/**
							* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
							* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
							*/
							/*
							var disqus_config = function () {
							this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
							this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
							};
							*/
							(function() { // DON'T EDIT BELOW THIS LINE
							var d = document, s = d.createElement('script');

							s.src = '//skicoach.disqus.com/embed.js';

							s.setAttribute('data-timestamp', +new Date());
							(d.head || d.body).appendChild(s);
							})();
							</script>
							<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
				    	</div>
				    </div>
	  			</div>	
			</div>

		<% end %>

	</div>
</div>

<script>
	$('#average_rating').raty({
		path: 'https://s3.amazonaws.com/skicoach/stars/',
		readOnly: true,
		score: <%= @project.average_rating %>
	});
</script>
